*{
    margin: 0%;
    border: 0%;
    padding: 0%;
    color: white;
}
header{
    height: 200px;
    background-color: black;
}
header div img:first-of-type{
    width: 200px;  
    height: 200px;
}
header div img:last-of-type{
    background: none;
    position: relative;
    left: -140px;
    width: 65px;
    height: 75px;
}
header h1{
    font-size: 85px;
    position: relative;
    right: -3%;
    top: 20%;
}
header div{
    margin-left: 105px;
    margin-top: 15px;
}
header div h1{
    background-size: cover;
    font-size: 50px;
    position: relative;
    top: -110px;
    left: 48px;
}
header p{
    background: none;
    position: relative;
    top: -40px;
    right: -443px;
    font-size: 25px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
main{
    height: auto;
    padding-bottom: 40px;
    padding-top: 100px;
    background-color: black;
}
main #img-main-1{
    position: relative;
    left: 30%;
    /*border: 2px solid white;*/
    background: none;
    width: 500px;
    height: 500px;
}
main .textos{
    position: relative;
    top: 50px;
    text-align: justify;
    width: auto;
    height: auto;
    margin-left: 60px;
    margin-right: 40px;
}
main .textos h1{
    position: relative;
    left: 50px;
    margin-bottom: 50px;
}
main .textos h2{
    position: relative;
    left: 100px;
    margin-bottom: 40px;
}
main .textos p{
    font-size: 25px;
}
main .textos h2:last-of-type{
    margin-top: 30px;
}
main .textos section{
}
main .textos section p{
    width: 865px;
    margin-right: 20px;
}
main .textos section img{
    width: 300px;
    height: 300px;
}
footer{
    padding: 30px;
    height: auto;
    width: 100%;
    background-color: grey;
}
footer div{
    background-color: grey;
}
footer div h2{
    position: relative;
    top: 20px;
    left: 150px;
}
footer div p{
    position: relative;
    left: 100px;
    top: 30px;
}